<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title></title>

  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="slidecss.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="icon" href="icon_path" type="image/icon type">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Gotu|Montserrat&display=swap" rel="stylesheet">

</head>

<body>
  <div id="sidenav">
    <div class="sidenav1">

    </div>
    <div class="sidenav2"></div>
    <div class="sidenav-3"></div>
    <div class="sidenav-4"></div>
    <div class="sidenav-5"></div>
    <div class="sidenav-6"></div>
    <div class="sidenav-7"></div>
    <div class="sidenav-8"></div>
    <div class="sideheader">WEBPOWERSHELL</div>
    <ul class="sidelist">
      <li><a href="/overview">Overview</a></li>
        <li><a href="/symptoms">Symptoms</a></li>
        <li><a href="/prevention">Prevention</a></li>
        <li><a href="/timeline">Timeline</a></li>


    </ul>
  </div>
  <div class="nav">
    <div id="btn" onclick="operate()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="list">
      <span><a href="/">WEBPOWERSHELL</a></span>
      <ul class="k">


        <div class="dropdown">

  <li onclick="myFunction()" class="dropbtn">DOWNLOADS</li>

  <div id="myDropdown" class="dropdown-content">
    <a target=”_blank”  href="who.pdf">WHO-Situation Report </a>
    <a target=”_blank”  href="AIIMS COVID-19 Information Booklet.pdf">AIIMS COVID-19 Information Booklet</a>
    <a target=”_blank” href="Follow these Do's and Don'ts.pdf">Follow these Do's and Don'ts</a>
     <a target=”_blank” href="ProtectivemeasuresEng.pdf">Protective Measures against Coronavirus</a>
  </div>
</div>

        <li><a href="/login">LOGIN</a></li>
          <div class="dropdown1">

  <lionclick="myFunction1()" class="dropbtn1">DONATE</li>
  <div id="myDropdown1" class="dropdown1-content">
    <a target=”_blank” href="https://www.pmcares.gov.in/en/web/contribution/donate_india">DOMESTIC DONATIONS </a>
    <a target=”_blank” href="https://www.pmcares.gov.in/en/web/contribution/donate_foreign"> FOREIGN DONATIONS
      CREDIT/DEBIT CARDS</a>
    <a target=”_blank”  href="https://www.pmcares.gov.in/en/web/contribution/donate_wire">FOREIGN DONATIONS
      WIRE TRANSFER/SWIFT</a>

  </div>
</div>
      </ul>
    </div>

  </div>
