
body {
  margin: 0px;
  padding: 0px;

  height: 100%;
background: white;
  width:-webkit-fill-available;

}
.head1 h1
{
color: white;
  padding: 8px;
  margin:auto;
  font-size: 2.5rem;
  position: relative;
  top:40px;
  left:20px;
  font-family: Montserrat;
  letter-spacing: 1px;
  right: 130px;
  
  
}
.head1 {
  display:inline-flex;
  background-color: #f4f7f7;
  margin: 0px;
  padding: 3px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
   box-shadow: 0 8px 6px -6px black;
   width:inherit;
   z-index: 1;
   height:7rem;
    background:linear-gradient(35deg, #5c0368 10%, #AE82B4 30%);
}

input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #5c0368;;
  border-radius: 4px;
  
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email]{
  width: 50%;
  padding: 12px;
  
  border-radius: 4px;
    border: 1px solid #5c0368;;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5c0368;
}

.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 30px;
  margin:20px 30px;
  box-shadow: 5px 5px 12px #5c0368;
}
.img
{
width:100%;

}