
.head1{
  width:-webkit-fill-available;
  position: absolute;
  top:55px;
  text-align: center;
  padding: 5px;
  background: linear-gradient(35deg, #5c0368 10%, #AE82B4 30%);
}
.head1 h1 {
  color: #000000;
  padding: 8px;
  margin:auto;
  font-size: 2.5rem;
   position: relative;
  right:10px;
  font-family: Montserrat;
  
  

}

.icon {
  width: 40px;
  position: relative;
  left: 20px;
  top:3px;
}
.mid{
 display: flex;
 width:-webkit-fill-available;
 position: absolute;
 top:120px;
 padding: 20px;
}
.cont
{
  position: relative;
  /* width: 30% */
  left:15px;
  background-color:white;
  border-color: #900c3f;
box-shadow: 5px 10px 12px #AE82B4;


}
.cont:hover
{
  position: relative;
  /* width: 30% */
  left:15px;
  background-color:white;
  border-color: #900c3f;
box-shadow: 5px 10px 24px #AE82B4;


}
.cont h1
{
  font-family: sans-serif;
  font-size: 2rem;
  color:#5c0368;
  letter-spacing: 1px;
  padding: 4px;
}
.cont hr{
border:2px solid  #5c0368;
margin: 1px;
width: 80%;
}
.cont p{
font-family: Montserrat;
font-size: 1.5rem;
color:black;
background-color: ;
padding: 8px;
border-radius: 2px;
margin: 4px;
letter-spacing: .8px;
font-weight:bold;
}
.mid1
{
  text-align: center;
  /* margin-left: 20px;
  margin-top: 20px; */
  background-color: #fff;
   box-shadow: 8px 12px;
   border-radius: 5px;
   padding: 8px;
   color: #d63447
   position:relative;
   /* width: 30%; */
   left: 8px;

}
.gif
{
  border-radius: 145px;
  position: relative;
  right:8px;
}
.mid2 img{
  width:800px;
  height:400px;
  box-shadow: 8px 12px #fde2e2;
  border-radius: 4px;
}
.mid2
{
  position: absolute;

  top:750px;
  display: inline-block;
  width: 100%;
  

}
.mid2d
{
  position: relative;
  text-align: center;
}



.fa-chevron-right
{
  position: relative;
  left:4px;
  font-size:2rem;
  color:#fff;
  cursor: pointer;
}
.fa-chevron-left
{
  position: relative;
  right: 4px;
  font-size: 2rem;
  color:#fff;
  cursor: pointer;
}

.video
{
  position: absolute;
  top:1300px;
  display: inline-flex;
  width: -webkit-fill-available;
margin-left: 90px;
margin-right: 80px;

}
.video iframe
{
  padding: 10px;
}
.imp
{
  font-family: Nunito;
  color:#2c003e;
  width:-webkit-fill-available;
  position: absolute;
  top: 1700px;
  text-align: center;
}
.table
{
  display: inline-flex;
 /* margin-left: 60px; */
}
.imp1
{
  color: #fff;
  background-color:#AE82B4;
  padding: 12px;
  line-height: 3rem;
  text-align: center;
  height: 230px;
  width:280px;
  border-radius: 5px;
   box-shadow: 5px 5px 24px #5c0368;
}
.imp2
{
  color: #fff;
  background-color:#AE82B4;
  padding: 12px;
  line-height: 3rem;
  text-align: center;
  height: 230px;
  width: 280px;
  margin-left: 50px;
  border-radius: 5px;
   box-shadow: 5px 5px 12px #5c0368;
}
.imp3
{
  color: #fff;
  background-color:#AE82B4;
  
    padding: 12px;
  line-height: 3rem;
  text-align: center;
  height: 230px;
  width:280px;
  margin-left: 50px;
  border-radius: 5px;
   box-shadow: 5px 5px 12px #5c0368;
}
.imp3 a
{
  color: #fff;
  text-decoration: none;
}
.imp i
{
  font-size: 2rem;
}
.info{
  position: relative;
  bottom:600px;
  padding: 20px;
  font-family: Montserrat;
  text-align: center;
  font-size: 1.2rem;
  color: #d7385e;
  background-color: #faf4ff;
  width: 100%;

}
.info h1{
font-size: 3rem;
color: #1f4e5f;
letter-spacing: 1px;
}
.mid2 h1
{
  position: relative;
  font-family: Montserrat;
  color: #1f4e5f;
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
}
/*footer*/
.bottomfooter8
{

  width: -webkit-fill-available;
  position: absolute;
  top:2050px;
  padding-bottom: 0px;
  margin-bottom: 0px;


}