.main-box{
  width:100%;
  box-sizing: border-box;
position:absolute;
top:65px;
margin:0px;
padding:0px;
font-family: Arial, Helvetica, sans-serif;

height:450px;

background-image:url(timeline-pic-1.jpg);
background-size:cover;
background-repeat:no-repeat;
overflow: hidden;



}

.main-box-in{
  position:relative;
  top:80px;
  left:150px;
  color:white;
font-size:40px;
font-weight: 500;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.time-header{

position:absolute;
top:530px;

width:100%;
text-align: center;
background-color:  #5c0368;

}
.div1{
  background-color:white;
  height:250px;
  width:100%;
  display:flex;
  margin:20px 0px 20px 0px;
  font-family: cursive;
  overflow:hidden;
  padding:20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border:1px solid transparent;
  border-radius:20px;
  

}
.sec{
  flex:1;
  border:1px solid transparent;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 24px #5c0368;
  border-color:#5c0368;
  
  
}
.fir{
  flex:4;
}




.time-header h1{
  padding:20px;

}




.time-header span{
  text-shadow:0px 0px 5px white;
}
/*footer*/
.bottomfooter10
{

  width: -webkit-fill-available;
  position: absolute;
  top:4200px;
  padding-bottom: 0px;
  margin-bottom: 0px;


}